* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Regular";
  src: local("regular"), url("./font/MonaSans-Regular.ttf") format("truetype");
}

body {
  font-family: "Regular", sans-serif;
  background-color: #fdfdfd;
  color: #1d2c5e;
  position: relative;
}
/* header v2 */
header {
  position: sticky;
  top: 0;
  background-color: #fdfdfd;
  border-bottom: #f00 .25px solid;
  height: 130px;
  width: 100%;
}

a {
  width: fit-content;
  text-decoration: none;
  color: #333;
}

header > section > .section-menu-burger {
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 100px;
}
/* Need to adjust the path to target the (only ".logo" seem to work)  header v2*/
.logo {
  height: 100px;
}

header > section > section > .menu-burger {
  width: 48px;
}

/* header v2 */
header > section > .search-bar {
  position: absolute;
  top: 20px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header > section > .search-bar > input {
  height: 30px;

  outline: none;
  margin: 10px 0;
  background-color: #3466af;
  color: #fdfdfd;
  border: none;
  border-bottom: 2px solid #1d2c5e;
  border-left: 2px solid #1d2c5e;
  border-radius: 5px;
  padding: 0 15px;
  &::placeholder {
    color: #fdfdfd;
    text-align: center;
  }
}
.search-bar > button {
  height: 30px;
  width: 100px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #f00;
  color: #fdfdfd;
}
header > nav {
  margin-top: 25px;
  & > ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    & > li {
      font-size: 1.3rem;
    }
  }
}

/* Page Pokemons */
.pokemonCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.map-pokemon {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin-bottom: 50px;
  & > figure {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.regionImg {
  width: 100%;
}

.title-map {
  text-align: center;
}

.paragraphe {
  font-size: 120%;
  width: 100%;
  text-align: center;
  margin: 50px 0;
}

.wildex-logo-title {
  display: flex;
  flex-direction: column;
}
/* accessibility us22  */

@media screen and (max-width: 576px) {
  header > .burger-logo-search {
    display: flex;
    flex-direction: column;
    & > .section-menu-burger {
      display: flex;
      justify-content: space-around;
      align-content: center;
      width: 100vw;
      & > .menu-burger {
        margin: 10vh 0 0 0;
      }
    }

    header > nav {
      display: none;
      background-color: #f00;
    }
  }
  header > section > .search-bar {
    display: none;
  }
  header {
    height: 130px;
    background-color: #fdfdfd;
  }
}
@media screen and (max-width: 378px) {
  .logo {
    height: 65px;
  }
}

/* Style types */
.pkmTypes {
  padding: 0 4px;
  margin-right: 3px;
  border-radius: 4px;
}
.Generation-numbers {
  text-align: center;
  margin: 2rem 0 4rem;
  font-weight: 800;
  font-size: 2.5rem;
}
